@model MvcApplication1.Models.Telefone

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Telefone</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Numero)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Numero)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Residencial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Residencial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comercial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comercial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Celular)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Celular)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.Nome)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
